			#btn-list
			{
				position: fixed;
				bottom: 42px;
				left: 0;
				z-index: 999;
			}
			
			#section-list
			{
				width: 240px;
				background-color: lightgray;
				overflow-x: auto;
			}
			
			#list-title:hover
			{
				cursor: pointer;
			}
			
			@media screen and ( min-width: 540px )
			{
				#section-list
				{
					position: fixed;
					top:80px;
					bottom:42px;
					left: 0px;
					z-index: 998;
				}
				
				.page-show
				{
					position: fixed;
					top:80px;
					bottom:42px;
					left: 240px;
					right: 0;
				}
			}
			@media screen and ( max-width: 540px ) 
			{
				#section-list
				{
					position: fixed;
					top:80px;
					bottom:42px;
					left: -240px;
					z-index: 998;
				}
				.page-show
				{
					position: fixed;
					top:80px;
					bottom:42px;
					left: 0;
					right: 0;
				}
			}
			
			#list-title
			{
				margin-top: 10px;
				font-family: "微软雅黑";
			}
			
			.section-item
			{
				background-color: lightgray;
				padding-top:20px ;
				padding-bottom:5px ;
			}
			
			.section-item button
			{
				box-shadow: none;
			}
			
			.btn-section
			{
				font-family: "微软雅黑";
			}
			
			.btn:focus
			{
				visibility: hidden;
			}
			
			.btn-section-add
			{
				position: absolute;
				bottom: 0;
				right: 0;
			}
			
			.section-btns
			{
				width: 70px;
				position: absolute;
				top: 0px;
				right: 5px;
				z-index: 998;
				opacity: 0;
			}
			
			.btn-add:hover, .btn-close:hover, .btn-fix:hover, .btn-page-close:hover, .btn-page-fix:hover
			{
				cursor: pointer;
			}
			
			
			.pageItem
			{
				color: rgb(0,123,255);
				font-family: "微软雅黑";
				z-index: 999;
				transition: background-color 0.5s;
			}
			
			.pageItem:hover
			{
				cursor: default;
				color: white;
				background-color: rgb(0,123,255);
			}
			
			.btn2
			{
				outline: none;
				display: inline-block;
				font-weight: 400;
				color: #212529;
				text-align: center;
				vertical-align: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-color: transparent;
				border: 1px solid transparent;
				padding: .375rem .75rem;
				font-size: 1rem;
				line-height: 1.5;
				border-radius: .25rem;
				transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			}
			
			.pageItem-active
			{
				background-color: rgb(0,123,255);
				color: white;
			}