			.record-item
			{	
				padding-top: 0;
				padding-left: 0;
				padding-bottom: 15px;
				padding-right: 30px;
				font-family: "微软雅黑";
			}
			.record-item a
			{
				text-decoration:none;
				color: black;
				border: 1px solid lightgray;
				transition: box-shadow 0.7s;
			}
			
			.record-item a:hover
			{
				box-shadow: 0 6px 5px 0 rgb(0 0 0 / 5%);
				cursor: pointer;
			}
			
			.tips
			{
				display: none;
			}
			
			.result-index
			{
				position: fixed;
				top: 145px;
				right: 10px;
			}
			.index-item:hover
			{
				cursor: pointer;
			}