<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="/bootstrap-4.6.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap-4.6.0/fontawesome/css/all.css" rel="stylesheet">
		<link href="/css/animation.css" rel="stylesheet">
		<link href="/css/pageEdit.css" rel="stylesheet">
		<script src="/js/jquery-3.5.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/bootstrap-4.6.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!--单元项目列表-->
		<div class="unit-list container-fluid">
			<div id="p_id" class="d-none" th:text="${page.p_id}">sirilahu-1-1-1</div>
			<!--单元项目-->
			<div class="unit-item" th:each="unit:${page.units}">
				<h4 class="unit-title text-primary d-inline"><i class="fas fa-seedling"></i>&nbsp;<span class="title-content textEdit" th:text="${unit.u_title}">标题从入门到入土</span></h4>
				<hr class="bg-primary w-25 m-0">
				<span class="unit-content textEdit" th:text="${unit.getU_content()}">
					文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容
				</span>
				<img class="unit-img p-0 mt-2 d-block col-xl-3 col-lg-4 col-md-7" th:src="${unit.getU_img()} eq null ? '' : ('/recordProject/img/'+${unit.getU_img()})">
				
				<!--功能按钮组-->
				<div class="unit-btns d-flex text-primary justify-content-between border-bottom border-info">
					<span class="d-none u_id" th:text="${unit.getU_id()}">sirilahu-1-1-1-1</span>
					<span class="unit-btn btn-unit-fix text-primary " title="修改内容"><i class="fa fa-wrench"></i></span>
					<span class="unit-btn btn-unit-img text-primary " title="更改图片"><i class="far fa-image"></i></span>
					<span class="unit-btn btn-close text-primary" title="删除单元"><i class="fas fa-times-circle"></i></span>
				</div>
			</div>

			<!--无查询结果显示-->
			<div id="no-result" th:class="'unit-item ' + (${page.units.size()} le 0 ? '':'d-none')" >
				<div  class="d-flex col-12 justify-content-center ">
					<h5 class="text-primary"><i class="fas fa-info-circle"></i>&nbsp;无查询结果</h5>
				</div>
			</div>

		</div>
		
		
		<!--添加按钮-->
		<button type="button" class="btn btn-unit-add text-primary" data-toggle="modal" data-target="#addUnit-form" title="添加单元"><i class="fas fa-plus-circle fa-3x"></i></button>
		
		<!--上传控件-->
		<input type="file" id="fileUpload" u_id="" style="display:none">
		
		<!--添加输入模态框-->
		<div class="modal fade" id="addUnit-form">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title text-primary">添加单元</h4>
		        <button type="button" class="close" data-dismiss="modal">×</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
		        <form id="add-form" th:method="'post'" enctype="multipart/form-data">
					<div class="form-group" >
					    <label for="u_title">单元标题:</label>
					    <input type="text" class="form-control" name="u_title" id="u_title" placeholder="输入单元标题">
					</div>
					<div class="form-group">
					    <label for="u_title">单元内容:</label>
					    <textarea class="form-control" rows="5" id="u_content" name="u_content"></textarea>
					</div>
					<div class="form-group">
						<label for="u_title">包含图片:</label>
						<div class="custom-file">
							<input type="file" class="custom-file-input form-control" id="u_img" name="u_imgFile" onchange="Javascript:validate_img(this);">
							<label class="custom-file-label" for="u_img">选择文件</label>
						</div>
					</div>
					<span class="btn btn-primary" id="btn-unit-submit">提交</span>
				</form>
		      </div>
		 
		    </div>
		  </div>
		</div>
		
		<!--图片显示模态框-->
		  <div class="modal fade " id="imgShow">
		    <div class="modal-dialog modal-lg modal-dialog-centered">
		      <div class="modal-content border-0">
		        <div class="modal-body p-0">
		          <img src="" class="img-fluid d-block">
		        </div>
		      </div>
		    </div>
		  </div>
		  
		  <!--单元添加模板-->
		  <div class="d-none modal-zone">
			  <div class="unit-item">
			  	<h4 class="unit-title text-primary d-inline"><i class="fas fa-seedling"></i>&nbsp;<span class="title-content textEdit">{u_title}</span></h4>
			  	<hr class="bg-primary w-25 m-0">
			  	<span class="unit-content textEdit">
			  		{u_content}
			  	</span>
			  	<img src="" class="unit-img p-0 mt-2 d-block col-xl-3 col-lg-4 col-md-7">
			  	
			  	<!--功能按钮组-->
			  	<div class="unit-btns d-flex text-primary justify-content-between border-bottom border-info">
			  		<span class="d-none u_id">{u_id}</span>
			  		<span class="unit-btn btn-unit-fix text-primary " title="修改内容"><i class="fa fa-wrench"></i></span>
			  		<span class="unit-btn btn-unit-img text-primary " title="更改图片"><i class="far fa-image"></i></span>
			  		<span class="unit-btn btn-close text-primary" title="删除单元"><i class="fas fa-times-circle"></i></span>
			  	</div>
			  </div>
		  </div>
		  
		<script src="/layer/layer.js"></script>
		<script src="/js/pageEdit.js"></script>
	</body>
</html>
