<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>记录管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="/bootstrap-4.6.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap-4.6.0/fontawesome/css/all.css" rel="stylesheet">
		<link href="/css/animation.css" rel="stylesheet">
		<link href="/css/head.css" rel="stylesheet">
		<link href="/css/recordMan.css" rel="stylesheet">
		<script src="/js/popper.min.js"></script>
		<script src="/js/jquery-3.5.1.min.js"></script>
		<script src="/bootstrap-4.6.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!--头部导航栏-->
		<div class="sirilahu-Top container-fluid"></div>
		<!--记录展示栏--> 
		<div class="record-show container-fluid bg-light">
			<!--展示标题-->
			<div class="record-list-title row m-0 d-flex justify-content-between mb-3">
				<h2><i class="fas fa-book-open text-primary"></i>&nbsp;笔记本</h2>
				<button type="button" class="btn-add btn" data-toggle="modal" data-target="#addRecord-form" title="添加笔记本"><i class="fas fa-plus fa-2x"></i></button>
			</div>
			<!--展示列表-->
			<div class="record-list row m-0 mt-1" >
				<!--笔记本项目-->
				<div class="record-item col-lg-3 col-md-4 col-sm-6 fadeIn" th:each="record:${records}" >
					<a class="h-100 d-flex flex-column justify-content-center align-items-center bg-white" th:href="|/recordProject/recordEdit?r_id=${record.r_id}&r_name=${record.r_name}|">
						<span class="mb-2 mt-2 text-primary"><i class="fas fa-book fa-3x"></i></span>
						<span class="r_id" style="display: none;" th:text="${record.r_id}"></span>
						<span class="r_name mt-0 mb-2" th:text="${record.r_name?:'无标题'}">book title</span>
						<footer class="r_date blockquote-footer mt-0 mb-2" th:text="${record.r_date?:'yyyy/mm/dd'}">yyyy/mm/dd</footer>
					</a>
					<span class="btn-close"><i class="fas fa-times-circle fa-2x"></i></span>
					<span class="btn-fix fa-stack">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
					</span>
				</div>
				

				<!--无查询结果显示-->
				<div class="tips col-12 d-flex justify-content-center p-5" th:if="${records.size()} le 0">
					<h5 class="text-primary"><i class="fas fa-info-circle"></i>&nbsp;无可用笔记本</h5>
				</div>
			</div>
			<!--分页栏-->
			<div class="record-pagination row d-flex justify-content-center ">
				<ul class="pagination">
					<li th:class="'page-item ' +  ((${page} eq 1) ? 'disabled' : '') ">
						<a class="page-link" th:if="${page} ne 1" th:href="'recordMan?page=' + (${page} + 1)">上一页</a>
						<a class="page-link" th:if="${page} eq 1" href="javascript:void(0)">上一页</a>
					</li>

					<li th:each="pageNum : ${#numbers.sequence(1, pageCount)}" th:class="'page-item ' + (${page} eq ${pageCount} ? 'active' : '')" >
						<a class="page-link" th:if="${pageNum} ne ${page}"  th:href="'recordMan?page=' + ${pageNum}" th:text="${pageNum}">pageNum</a>
						<a class="page-link" th:if="${pageNum} eq ${page}" href="javascript:void(0)" th:text="${pageNum}">pageNum</a>
					</li>

					<li th:class="'page-item ' +  ((${page} eq ${pageCount}) ? 'disabled' : '') " >
						<a class="page-link" th:if="${page} ne ${pageCount}" th:href="'recordMan?page=' + (${page} - 1)">下一页</a>
						<a class="page-link" th:if="${page} eq ${pageCount}" href="javascript:void(0)">下一页</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!--页脚栏-->
		<div class="sirilahu-footer container-fluid d-flex justify-content-center pt-2"></div>
		<!--添加输入框-->
		<div class="modal fade" id="addRecord-form">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title text-primary">添加笔记本</h4>
		        <button type="button" class="close" data-dismiss="modal">×</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
		        <form th:action="@{recordMan/addRecord}" method="post">
					<div class="form-group" >
					    <label for="r_name">笔记本名:</label>
					    <input type="text" class="form-control" name="r_name" id="r_name" placeholder="输入笔记本名">
						<input type="text" class="d-none" name="page" th:value="${page}">
					</div>
					<button type="submit" class="btn btn-primary">提交</button>
				</form>
		      </div>
		 
		    </div>
		  </div>
		</div>
		
		<!--修改输入框-->
		<div class="modal fade" id="fixRecord-form">
		  <div class="modal-dialog">
		    <div class="modal-content">
		 
		      <!-- 模态框头部 -->
		      <div class="modal-header">
		        <h4 class="modal-title text-primary">修改笔记本</h4>
		        <button type="button" class="close" data-dismiss="modal">×</button>
		      </div>
		 
		      <!-- 模态框主体 -->
		      <div class="modal-body">
		        <form th:action="@{recordMan/editRecord}" method="post">
					<div class="form-group" >
					    <label for="r_name">笔记本名:</label>
					    <input type="text" class="form-control" name="r_name" id="fix_r_name" placeholder="输入笔记本名">
						<input type="text" class="form-control" name="r_id" id="r_id" style="display: none;">
						<input type="text" class="d-none" name="page" th:value="${page}">
					</div>
					<button type="submit" class="btn btn-primary">提交</button>
				</form>
		      </div>
		 
		    </div>
		  </div>
		</div>
		
		<script src="/js/head.js"></script>
		<script src="/js/recordMan.js" th:inline="javascript"></script>
		<script src="/layer/layer.js"></script>
	</body>
</html>
