<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>搜索结果</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="/bootstrap-4.6.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/bootstrap-4.6.0/fontawesome/css/all.css" rel="stylesheet">
		<link href="/css/animation.css" rel="stylesheet">
		<link href="/css/head.css" rel="stylesheet">
		<link href="/css/recordResult.css" rel="stylesheet">
		<script src="/js/jquery-3.5.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/bootstrap-4.6.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!--头部导航栏-->
		<div class="sirilahu-Top container-fluid"></div>
		
		<!--搜索栏-->
		<div class="container-fluid search-bar d-flex justify-content-center">
			<form class="search-form col-lg-5 col-md-7 col-md-8" action="/recordProject/globalSearch" method="get">
				<div class="input-group mt-3 mb-3">
				  <div class="input-group-prepend">
				    <button type="button" class="btn-search btn btn-outline-primary dropdown-toggle " data-toggle="dropdown">
				      选择范围
				    </button>
				    <div class="dropdown-menu">
						<a class="dropdown-item search-item" jump-to="/recordProject/globalSearch">全局</a>
						<a class="dropdown-item search-item" jump-to="/recordProject/recordSearch">笔记本</a>
						<a class="dropdown-item search-item" jump-to="/recordProject/sectionSearch">分区</a>
						<a class="dropdown-item search-item" jump-to="/recordProject/pageSearch">页</a>
				    </div>
				  </div>
				  <input type="text" class="form-control border-primary" name="filed" placeholder="查询关键字" th:value="${filed}">
				</div>
			</form>	
		</div>
		<!--结果显示区-->
		<div class="result-show container-fluid" style="overflow: auto;">
			<h3 class="ml-3 p-5 d-flex justify-content-center align-content-center align-items-center" th:if="${records == null || records.isEmpty()} and  ${pages == null || pages.isEmpty()} and ${sections == null || sections.isEmpty()}"><i class="fas fa-info-circle text-primary "></i>&nbsp;无查询结果</h3>
			<!--笔记本显示区-->
			<h3 class="ml-3 p-1 result-title border-bottom col-lg-3 col-md-4 col-sm-5 col-6 border-info" th:if="${records != null && !(records.isEmpty())} " id="record"><i class="fas fa-book-open text-primary"></i>&nbsp;笔记本</h3>
			<div class="record-list row m-0 mt-1" th:if="${records != null && !(records.isEmpty())} ">
				<div class="record-item col-lg-3 col-md-4 col-sm-6 fadeIn " th:each="record:${records}">
					<a class="h-100 d-flex flex-column justify-content-center align-items-center bg-white border border-info" th:href="|recordEdit?r_id=${record.r_id}&r_name=${record.r_name}|">
						<span class="mb-2 mt-2 text-primary"><i class="fas fa-book fa-3x"></i></span>
						<span class="r_name mt-0 mb-2" th:text="${record.r_name}">book title</span>
						<footer class="r_date blockquote-footer mt-0 mb-2" th:text="${record.r_date}">2021/7/30</footer>
					</a>
				</div>
			</div>
			<!--分区显示区-->
			<h3 class="ml-3 p-1 result-title border-bottom w-25 border-info" id="section" th:if="${sections != null && (!sections.isEmpty())}" ><i class="fas fa-puzzle-piece text-primary"></i>&nbsp;分区</h3>
			<div class="record-list row m-0 mt-1" th:if="${sections != null && (!sections.isEmpty())} ">
				<div class="record-item col-lg-3 col-md-4 col-sm-6 fadeIn" th:each="section:${sections}">
					<a class="h-100 d-flex flex-column justify-content-center align-items-center bg-white border border-info" th:href="|recordEdit?r_id=${section.record.r_id}&r_name=${section.record.r_name}&s_id=${section.s_id}|">
						<span class="mb-2 mt-2 text-primary"><i class="fas fa-leaf fa-3x"></i></span>
						<span class="s_name mt-0 mb-2" th:text="${section.s_title}">section title</span>
					</a>
				</div>
			</div>
			<!--页显示区-->
			<h3 class="ml-3 p-1 result-title border-bottom w-25 border-info" id="page" th:if="${pages != null && (!pages.isEmpty())}"><i class="fab fa-pagelines text-primary"></i>&nbsp;页</h3>
			<div class="record-list row m-0 mt-1" th:if="${pages != null && (!pages.isEmpty())}">
				<div class="record-item col-lg-3 col-md-4 col-sm-6 fadeIn" th:each="page:${pages}">
					<a class="h-100 d-flex flex-column bg-white border border-info p-2" th:href="|recordEdit?r_id=${page.section.record.r_id}&r_name=${page.section.record.r_name}&s_id=${page.section.s_id}&p_id=${page.p_id}|">
						<h5 class="p_name" th:text="${page.p_title}">page title</h5>
						<div class="page-content">
							<span class="pl-2" th:text="'['+${page.units.get(0).u_title}+']'">[内容标题]</span>
							<span th:text="'...'+${page.units.get(0).u_content}+'...'">...文字内容关键字文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容文字内容...</span>
						</div>
					</a>
				</div>
			</div>
			
			<!--右浮动目录-->
			<div class="result-index card d-sm-block d-none" th:if="${records != null && (!records.isEmpty())} or ${pages != null && (!pages.isEmpty())} or ${sections != null && (!sections.isEmpty())}">
			  <div class="card-header">目录</div>
			  <div class="card-body pl-4 pr-5 pb-0">
				  <ul class="pl-1">
					  <li class="index-item" position="#record" th:if="${records != null && (!records.isEmpty())}">笔记本</li>
					  <li class="index-item" position="#section" th:if="${sections != null && (!sections.isEmpty())}">分区</li>
					  <li class="index-item" position="#page" th:if="${pages != null && (!pages.isEmpty())}">页</li>
				  </ul>
			  </div> 
			</div>
		</div>
		<!--页脚栏-->
		<div class="sirilahu-footer container-fluid d-flex justify-content-center pt-2"></div>
		
		<!--js区-->
		<script src="/js/head.js"></script>
		<script th:inline="javascript" src="/js/recordResult.js"></script>
	</body>
</html>
